<%= form_with(model: map_asset) do |form| %>
  
  <% if map_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map_asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% map_asset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :category %>
    <%= form.text_field :category, class:"form-control" %>
  </div>

  <div class="field form-group" id="rating">
    <%= form.label :rating %>
    <%= form.hidden_field :rating, class:"form-control", id: :review_star %>
  </div>

  <div class="field form-group">
    <p id="rating_check" >I want to leave a rating</p>
  </div>

  <div class="field form-group">
    <%= form.label :stuff_type %>
    <%= form.text_field :stuff_type, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :story %>
    <%= form.rich_text_area :story, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, class:"form-control" %>
  </div>

  <div class="actions form-group">
    <%= form.submit class:"btn btn-primary" %>
  </div>

<% end %>

<!--Rating javascript-->
  <script>
  $('#rating').raty({
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',

    scoreName: 'asset[rating]',
    half: false,
  });
  </script> 
