<tr id="asset_row_<% asset.id %>">

  <td><%= asset.name %></td>
  <td><%= asset.address %></td>
  <td><%= asset.category %></td>
  <td><%= asset.rating %></td>
  <td><%= asset.stuff_type %></td>
  <td><%= asset.description %></td>
  <td><%= link_to 'Show', map_asset_path(asset) %></td>

  <!-- User Sign In Check to Allow Edit and Delete -->
  <% if user_signed_in? %>
    <% if asset.user == current_user %>
      <td><%= link_to 'Edit', edit_map_asset_path(asset) %></td>
      <td><%= link_to 'Destroy', map_asset_path(asset), method: :delete, data: { confirm: 'Are you sure?' } %></td>      
    <% end %>
  <% end %>
  <!-- End -->

</tr>
