<!-- User Signed in Requiredment to add MapAsset -->
<% if user_signed_in? %>
  <%= link_to 'Create Asset', new_map_asset_path, class: "btn btn-primary", data: { toggle: 'modal', target: '#new_asset_modal', remote: true } %>
<% else %>
  <%= link_to 'Create Asset', map_assets_path, class: "btn btn-primary" %>
<% end %>
<!-- End -->

<!-- Modal Code -->
<div class="modal fade" id="new_asset_modal" tabindex="-1" aria-labelledby="AssetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_asset_modal_label">Create Asset</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="new_asset_form">
      </div>
    </div>
  </div>
</div>
<!-- End of Modal Code -->

<!-- Filters Form -->
<div class="container">
  <%= form_with url: search_path, method: :get do |form| %>

    <div class="field form-group">
      <%= form.label "Category" %>
      <%= form.select "search[category]", ["Art", "Education", "Health", "Business", "Enviroment", "Housing",
                           "Child Care", "Food", "Industry", "Safety", "Transportation"], 
                            {selected:"", disabled:"", prompt: 'Please select user'} %>  
    </div>

    <div class="field form-group">
      <%= form.label "Type of Stuff" %>
      <br>
      <%= form.radio_button "search[type]", "Good" %>
      <%= form.label :Good %>
      <%= form.radio_button "search[type]", "Bad" %>
      <%= form.label :Bad %>
      <%= form.radio_button "search[type]", "Fix" %>
      <%= form.label :Fix %>
    </div>

    <div class="field form-group">
      <%= form.label "Media State" %>
      <br>
      <%= form.radio_button "search[media]", "All" %>
      <%= form.label "All" %>
      <%= form.radio_button "search[media]", "With Media" %>
      <%= form.label "With Media" %>
      <%= form.radio_button "search[media]", "No Media" %>
      <%= form.label "No Media" %>
    </div>

    <div class="field form-group">
      <%= form.label "Author" %>
      <br>
      <%= form.radio_button "search[author]", "All" %>
      <%= form.label "All" %>
      <%= form.radio_button "search[author]", "Only Me" %>
      <%= form.label "Only Me" %>
    </div>

    <div class="field form-group">
      <%= form.label "Type of Stuff" %>
      <br>
      <%= form.radio_button "search[date]", "All" %>
      <%= form.label "All" %>
      <%= form.radio_button "search[date]", "Today" %>
      <%= form.label "Today" %>
      <%= form.radio_button "search[date]", "Yesterday" %>
      <%= form.label "Yesterday" %>
      <%= form.radio_button "search[date]", "Last 7 Days" %>
      <%= form.label "Last 7 Days" %>
      <%= form.radio_button "search[date]", "Last 30 Days" %>
      <%= form.label "Last 30 Days" %>
      <%= form.radio_button "search[date]", "This Month" %>
      <%= form.label "This Month" %>
      <%= form.radio_button "search[date]", "Last Month" %>
      <%= form.label "Last Month" %>
      <%= form.radio_button "search[date]", "Today" %>
      <%= form.label "Today" %>
      <%= form.radio_button "search[date]", "Yesterday" %>
      <%= form.label "Yesterday" %>
    </div>

    <div class="field form-group">
      <%= form.label "Search" %>
      <%= form.text_field "search[keyword]",value:"" %>
    </div>

    <div class="actions form-group">
      <%= form.submit "Hit it" ,class:"btn btn-primary" %>
    </div>

  <% end %>
  </div>
<!-- End -->

<!-- Listing Assets -->
<h1>Assets List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Stuff type</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="assets_table">
    <% @map_assets.each do |asset| %>
      <%= render 'map_asset_row', asset: asset %>
    <% end %>
  </tbody>
</table>
