<h1>Assets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Stuff type</th>
      <th>Story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @map_assets.each do |asset| %>
      <tr>
        <td><%= asset.name %></td>
        <td><%= asset.address %></td>
        <td><%= asset.category %></td>
        <td><%= asset.rating %></td>
        <td><%= asset.stuff_type %></td>
        <td><%= asset.story %></td>
        <td><%= link_to 'Show', map_asset_path(asset) %></td>
        <td><%= link_to 'Edit', edit_map_asset_path(asset) %></td>
        <td><%= link_to 'Destroy', map_asset_path(asset), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Asset', new_map_asset_path, class: "btn btn-primary" %>
