<div class="jumbotron">

  <h1 class="display-4">
    <%= @map_asset.name %>
  </h1>

  <p class="lead">
    <%= @map_asset.address %>
  </p>

  <hr class="my-4">

  <div class="row">

    <p class="pl-3">
      <strong>Category:</strong>
      <%= @map_asset.category %>
    </p>

    <p class="pl-3">
      <strong>Stuff Type:</strong>
      <%= @map_asset.stuff_type %>
    </p>
    
  </div>

  <div id="rating_display" data-score="<%= @map_asset.rating %>"></div>

</div>

<p>
  <strong>Story:</strong>
  <%= @map_asset.story %>
</p>

<div>
  <strong>Attachments:</strong>
  <br>
  <% @map_asset.images.each do |img| %>
    <% if img.variable? %>
      <%= link_to image_tag(img.variant(resize: "400x400")), img %>
    <% elsif img.previewable? %>
      <%= link_to image_tag(img.preview(resize: "400x400")), img %>
    <% elsif img.image? %>
      <%= link_to image_tag(img, width:400), img %>
    <% else %>
      <%= link_to image.filename , rails_blog_path %>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to 'Edit', edit_map_asset_path(@map_asset), class:"btn btn-primary btn-lg" %> |
<%= link_to 'Back', map_assets_path, class:"btn btn-primary btn-lg" %>

<br><br>

<%= link_to 'Add Story', new_map_asset_story_path(@map_asset), class:"btn btn-primary btn-lg" %>
