<p>
  <strong>Name:</strong>
  <%= @map_asset.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @map_asset.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @map_asset.category %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @map_asset.rating %>
</p>

<p>
  <strong>Stuff type:</strong>
  <%= @map_asset.stuff_type %>
</p>

<p>
  <strong>Story:</strong>
  <%= @map_asset.story %>
</p>

<div>
  <strong>Attachments:</strong>
  <br>
  <% @map_asset.images.each do |img| %>
    <% if img.variable? %>
      <%= link_to image_tag(img.variant(resize: "400x400")), img %>
    <% elsif img.previewable? %>
      <%= link_to image_tag(img.preview(resize: "400x400")), img %>
    <% elsif img.image? %>
      <%= link_to image_tag(img, width:400), img %>
    <% else %>
      <%= link_to image.filename , rails_blog_path %>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to 'Edit', edit_map_asset_path(@map_asset) %> |
<%= link_to 'Back', map_assets_path %>
