<div class="jumbotron">
  <h1 class="display-4">
    <%= @map_asset.name %>
  </h1>

  <p class="lead">
    <%= @map_asset.address %>
  </p>

  <hr class="my-4">

  <div class="row">
    <p class="pl-3">
      <strong>Category:</strong>
      <%= @map_asset.category %>
    </p>
    <p class="pl-3">
      <strong>Stuff Type:</strong>
      <%= @map_asset.stuff_type %>
    </p>
  </div>

  <div id="map_asset">
    <div class="rating_display" data-score="<%= @map_asset.rating %>"></div>
  </div>

</div>

<p>
  <strong>Description:</strong>
  <%= @map_asset.description %>
</p>

<%= render "shared/display_uploads", target: @map_asset %>

<br>

<!-- User Sign In Check to Allow Edit -->
<% if @map_asset.user == current_user %>
  <%= link_to 'Edit', edit_map_asset_path(@map_asset), class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', map_assets_path, class: "btn btn-primary" %>

<br><br>

<!-- Add Story using Modal and Ajax -->
<% if user_signed_in? %>
  <%= render 'add_story', map_asset: @map_asset %>
<% end %>

<!-- Display Stories -->
<h1>Stories</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col" class="center_text">Name</th>
      <th scope="col" class="center_text">Address</th>
      <th scope="col" class="center_text">Category</th>
      <th scope="col" class="center_text">Rating</th>
      <th scope="col" class="center_text">Stuff type</th>
      <th scope="col" class="center_text">Description</th>
      <th colspan="2" scope="col" class="center_text">Actions</th>
    </tr>
  </thead>

  <tbody id="stories_table">
    <% @stories.each do |story| %>
      <%= render 'shared/story_row', story: story %>
    <% end %>
  </tbody>
</table>
