<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <%= link_to 'Streetwyze', map_assets_path, class:"navbar-brand nav-link  active" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <%= link_to 'Assets', map_assets_path, class:"nav-link" %>
      </li>

      <li class="nav-item ">
        <%= link_to 'Stories', stories_path, class:"nav-link" %>
      </li>

      <% if user_signed_in? %> 

        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Profile', edit_user_registration_path, class: "nav-link" %>
        </li>

        <div class="dropdown">
          <button class="btn bg-dark text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Survey</button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if current_user.role == "admin" %>
              <%= link_to "Surveys List", surveys_path, class:"dropdown-item" %>

              <%= link_to "Create Survey", new_user_survey_path(current_user), class:"dropdown-item", data: { confirm: 'Are you sure?' } %>
            <% end %>

            <% if survey_exists && current_user.responses.first.blank? %>
              <%= link_to "Fill Survey", new_survey_response_path(@survey), class:"dropdown-item" %>
              <%= link_to "Survey Results", responses_path(survey_id: @survey.id), class:"dropdown-item" %>
             <% end %>
          </div>
        </div>

      <% else %>

        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
        </li>

        <li class="nav-item ">
          <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
        </li>

      <% end %>

    </ul>
  </div>

</nav>
