<h1><%= @survey.title %></h1>

<h5><%= @survey.script %></h5>

<%= form_with(model: @response, url: survey_responses_path) do |form| %>

  <% @survey.questions.each do |question|%>

    <%= form.fields_for :answers, Answer.new do |answer| %>

      <ol>
        <li><%= question.content %></li>
      </ol>

      <% case question.question_type

          when 'smiley_based' %>
            <%= answer.hidden_field :question_id, value: question.id %>
            <div>
              <div class="emoji-div"></div>
              <%= answer.hidden_field :content %>
            </div>

          <% when 'open_ended' %>
            <%= answer.hidden_field :question_id, value: question.id %>
            <%= answer.text_field :content %>

          <% when 'multiple_choice' %>
            <%= answer.hidden_field :question_id, value: question.id %>
            <%= answer.collection_radio_buttons :option_id, question.options, :id, :content %>

      <% end %>

    <% end %>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Back', root_path %>
