<h1><%= @survey.title %></h1>

<h5><%= @survey.script %></h5>

<%= form_with(model: @response, url: survey_responses_path) do |form| %>

  <div class="field form-group">
    <%= form.number_field :user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <% @survey.questions.each do |question| %>
    <ol>
    <li><%= question.content %></li>
    <% form.fields_for @survey.questions do |q| %>
    <% case question.question_type
        when 'smiley_based' %>
        <%= question.text_field :question_id, class:"form-control", value: question.id %>
        <% when 'open_ended' %>
        <%= q.text_field :question_id, class:"form-control", value: question.id %>

        <% when 'multiple_choice' %>
          <% question.answers.each do |answer| %>
            <p>
              <%= radio_button_tag question_id: question.id, answer_id: answer.id %>
              <%= answer.content %>
            </p>
          <% end %>
    <% end %>
    <% end %>
    </ol>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Back', root_path %>
