<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @story.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @story.category %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @story.rating %>
</p>

<p>
  <strong>Stuff type:</strong>
  <%= @story.stuff_type %>
</p>

<p>
  <strong>Story:</strong>
  <%= @story.description %>
</p>

<div>
  <strong>Attachments:</strong>
  <br>
  <% @story.images.each do |img| %>
    <% if img.variable? %>
      <%= link_to image_tag(img.variant(resize: "400x400")), img %>
    <% elsif img.previewable? %>
      <%= link_to image_tag(img.preview(resize: "400x400")), img %>
    <% elsif img.image? %>
      <%= link_to image_tag(img, width:400), img %>
    <% else %>
      <%= link_to image.filename , rails_blog_path %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
