<div>
    <strong>Name:</strong>
  </div>
  <%= @story.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @story.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @story.category %>
</p>

<p>
  <strong>Rating:</strong>
  <div id="story">
    <div id="rating_display" data-score="<%= @story.rating %>"></div>
  </div>
</p>

<p>
  <strong>Stuff type:</strong>
  <%= @story.stuff_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<!-- Image Dispaly Code -->
<div>
  <strong>Attachments:</strong>

  <% @story.images.each do |img| %>

    <% if img.variable? %>
      <%= link_to image_tag(img.variant(resize: "400x400")), img %>
      <br>
    <% elsif img.previewable? %>
      <%= link_to image_tag(img.preview(resize: "400x400")), img %>
      <br>
    <% elsif img.image? %>
      <%= link_to image_tag(img, width:400), img %>
      <br>
    <% else %>
      <%= link_to image.filename , rails_blog_path %>
      <br>
    <% end %>

    <!-- Owner Check to allow Delete Option -->
    <% if user_signed_in? %>
      <% if @story.user == current_user %>
        <%= link_to 'Remove', delete_image_story_path(img.signed_id), class:"btn btn-primary",
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %><br>
      <% end %>
    <% end %>
    <!-- End -->

  <% end %>
</div>
<!-- End -->

<!-- User Sign In Check to Allow Edit -->
<% if user_signed_in? %>
  <% if @story.user == current_user %>
    <%= link_to 'Edit', edit_story_path(@story), class:"btn btn-primary" %> |
  <% end %>
<% end %>

<%= link_to 'Back', stories_path %>
