<div class="jumbotron">
  <h1 class="display-4">
    <%= @story.name %>
  </h1>

  <p class="lead">
    <%= @story.address %>
  </p>

  <hr class="my-4">

  <div class="row">
    <p class="pl-3">
      <strong>Category:</strong>
      <%= @story.category %>
    </p>
    <p class="pl-3">
      <strong>Stuff Type:</strong>
      <%= @story.stuff_type %>
    </p>
  </div>

  <p>
    <strong>Rating:</strong>
    <div id="story">
      <div id="rating_display" data-score="<%= @story.rating %>"></div>
    </div>
  </p>
</div>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<br>

<%= render "shared/display_uploads", target:@story %>

<!-- User Sign In Check to Allow Edit -->
<% if user_signed_in? %>
  <% if @story.user == current_user %>
    <%= link_to 'Edit', edit_story_path(@story), class:"btn btn-primary" %>
  <% end %>
<% end %>
<%= link_to 'Back', stories_path, class:"btn btn-primary" %>
