<div class="jumbotron">
  <h1 class="display-4">
    <%= @story.name %>
  </h1>

  <p class="lead">
    <%= @story.address %>
  </p>

  <hr class="my-4">

  <div class="row">
    <p class="pl-3">
      <strong>Category:</strong>
      <%= @story.category %>
    </p>
    <p class="pl-3">
      <strong>Stuff Type:</strong>
      <%= @story.stuff_type %>
    </p>
  </div>

  <div id="story">
    <div class="rating_display" data-score="<%= @story.rating %>"></div>
  </div>

</div>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<br>

<%= render "shared/display_uploads", target: @story %>

<%= render "edit_story", story: @story %>

<%= link_to 'Back', stories_path, class: "btn btn-primary" %>
