<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @asset.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @asset.category %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @asset.rating %>
</p>

<p>
  <strong>Stuff type:</strong>
  <%= @asset.stuff_type %>
</p>

<p>
  <strong>Story:</strong>
  <%= @asset.story %>
</p>

<div>
  <strong>Attachments:</strong>
  <% @asset.images.each do |img| %>
    <% if upload.variable? %>
      <%= link_to image_tag(img.variant(resize: "400x400")), img %>
    <% elsif image.previewable? %>
      <%= link_to image_tag(img.preview(resize: "400x400")), img %>
    <% elsif image.image? %>
      <%= link_to image_tag(img, width:400), img %>
    <% else %>
      <%= link_to image.filename , rails_blog_path %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
