<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @asset.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @asset.category %>
</p>

<p>
  <strong>Leave rating:</strong>
  <%= @asset.leave_rating %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @asset.rating %>
</p>

<p>
  <strong>Stuff type:</strong>
  <%= @asset.stuff_type %>
</p>

<p>
  <strong>Story:</strong>
  <%= @asset.story %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
