<%= form_with(model: target) do |form| %>

  <%= render "shared/errors", target: @survey %>

  <div class="field form-group">
    <%= form.number_field :user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :script %>
    <%= form.text_field :script %>
  </div>

  <%= render "add_remove_question_answer", form: form, survey: @survey %>

 <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
