<div class="container pt-5">
  <div class="p-4 bg-light border border-dark rounded rounded-lg">

    <h1 class="text-center"><%= @survey.title %></h1>

    <h5>Script:</h5>

    <p class="pl-4"><%= @survey.script %></p>

    <% @survey.questions.each do |question| %>
      <h4><%= question.content %></h4>

      <% case question.question_type 

          when 'smiley_based' %> <%= text_area_tag question.id %>

        <% when 'open_ended' %> <%= text_area_tag question.id %>

        <% when 'multiple_choice' %>
          <% question.options.each do |option| %>
            <p >
              <%= radio_button_tag question.id, option.id %>
              <%= option.content %>
            </p>
          <% end %>

      <% end %>

    <% end %>

    <br>

    <div class="pt-3">
      <%= link_to 'Edit', edit_survey_path(target: @survey), class: "btn btn-secondary btn-lg" %>
      <%= link_to 'Back', surveys_path, class: "btn btn-dark btn-lg" %>
    </div>

  </div>
</div>
