<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Script:</strong>
  <%= @survey.script %>
</p>


<% @survey.questions.each do |question| %>
  <h2><%= question.content %></h2>

  <% case question.question_type %>
  <% when 'smiley_based' %>
    <% question.answers.each do |answer| %>
      <p>
        <%= radio_button_tag question.id, answer.id %>
        <%= answer.content %>
      </p>
    <% end %>
  <% when 'multiple_choice' %>
    <% question.answers.each do |answer| %>
      <p>
        <%= check_box_tag question.id, answer.id %>
        <%= answer.content %>
      </p>
    <% end %>
  <% when 'open_ended' %>
    <%= text_area_tag question.id %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
